---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <!-- particles.js container -->
  <div id="particles-js"></div> <!-- stats - count particles -->
  <div class="count-particles"></div> <!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
  <script src="https://threejs.org/examples/js/libs/stats.min.js"></script>
  <script src="assets/js/particles.js"></script>
  
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>


  <body>
    {{ content }}
    
    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    
  </body>
</html>
