---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <style>
      #particles-js {
          position: fixed;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
          pointer-events: none;
      }

      body, html {
          height: 100%;
          margin: 0;
      }
  </style>
  </head>

  <div id="particles-js" style="background-color: rgb(208, 229, 249); background-image: url(&quot;https://vincentgarreau.com/particles.js/assets/img/kbLd9vb_new.gif&quot;); background-size: 60%; background-repeat: no-repeat; background-position: 0px 20%;"></div> <!-- Particles Background -->
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script src="https://github.com/ytyky/yaotianyu.github.io/blob/master/assets/js/particles.js"></script>

  <body>

    
    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    
  </body>
</html>
